/* Center the form on mobile devices */
@media (max-width: 600px) {
  form {
    margin: 0 auto;
    width: 50%;
  }
}

/* Center the form on widescreen devices */
@media (min-width: 601px) {
  form {
    margin: auto;
    width: 50%;
  }
}

.h3cl {
  font-weight: bold;
  font-size: 20px;
  color: #cc8b00;
}

.drpdm, .blutn {
  padding: 0.5em 2em 0.5em 2.5em;
  font-weight: 600;
  letter-spacing: 0.05em;
  transition: transform 100ms;
}

.drpdm:hover, .blutn:hover {
  transform: translateY(-3px);
}

.blutn:active {
  transform: translateY(1px);
}

hr {
  width: 30%;
}

#remove-iframes {
  z-index: 200;
  visibility: hidden;
  position: absolute;
  left: 30px;
}

.otop-left {
  z-index: 1;
  position: absolute;
  top: -30px;
  left: 30px;
}

.otop-right {
  z-index: 1;
  position: absolute;
  top: 55px;
  right: 30px;
}

.butt {
  --glow-color: #cc8b00;
  --btn-color: #312c20;
  border: .25em solid var(--glow-color);
  color: var(--glow-color);
  font-size: 12px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color), inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

.butt::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.butt:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color), inset 0 0 .75em .25em var(--glow-color);
}

.butt:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color), inset 0 0 .5em .25em var(--glow-color);
}

.inputt {
  --glow-color: #ccc;
  --glow-spread-color: #cc8b00;
  --btn-color: #1E082E;
  color: var(--glow-color);
  font-size: 13px;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  transition: all 0.3s;
}

.inputt:focus {
  box-shadow: 0 0 .75em 0em var(--glow-spread-color);
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

.centvert {
  transform: translateY(250%);
}

.centrvert {
  transform: translateY(75%);
}

.smallabel {
  font-size: 8px;
}

.p2 {
  line-height: 2;
}

.belowbtttn {
  margin-bottom: 5px;
}

.goto, .btn, .butn, .drdm {
  background-color: #1E082E;
  padding: 7px 14px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

.goto:hover, .butn:hover, .drdm:hover {
  background-color: #cc8b00;
  color: #1E082E;
}

iframe {
  position: relative;
  z-index: 100;
  outline: none;
  overflow: hidden;
  border: 0;
}

body {
  background-color: #06000a;
  color: #f0ad4e;
  margin: 10px;
  padding: 0;
  font-family: "Kanit", sans-serif !important;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #e89a11;
}

a {
  color: #cc8b00;
  text-decoration: none;
}

a:hover {
  color: #e5a315;
}

ul {
  text-align: center;
  list-style-type: none;
}

.txtbx {
  background-color: #1E082E;
  border: none;
  padding: 7px 14px;
  border-radius: 3px;
  color: #ccc;
}

input[type="submit"] {
  padding: 3px 5px;
  font-family: "Kanit", sans-serif !important;
  background-color: #cc8b00;
  color: #1E082E;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.rounded {
  border-radius: 10px !important;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

input, input::placeholder {
  font-family: "Kanit", sans-serif !important;
  background-color: #333;
  color: #ccc;
  border: 1px solid #333;
}

input:focus {
  box-shadow: 0 0 3px #db8b00;
}
